# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? storeA
# Which store makes the most sales on average? storeB
# Which store sells the most during the week of March 13th, 2016? storeD
# In what week does store C make its worst sales? 7 
# Which store has the most sales in the latest 3-month period? storeB
# What is the most consistent store in sales ? storeA 
# Given the information you gathered, what do you think is the best store financially? storeB

In [2]:
import pandas as pd
%matplotlib inline  
store=pd.read_csv('store_data.csv')

store.info()
store.hist(figsize=(10, 8));
store['week'] = pd.to_datetime(store['week'], errors='coerce')
summary =store.groupby([store['week'].dt.year, store['week'].dt.month]).sum()
summary

In [6]:
sum(store.duplicated())
store.isnull().values.any()

False

In [35]:
# total sales for the last month
summary[-1:].values.sum()

96739

In [7]:
store.mean()

C:\Users\alaa\AppData\Local\Temp\ipykernel_27360\2553757181.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  store.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [11]:
# sales on march 13, 2016
store[store['week']== 'march 13, 2016']

Empty DataFrame
Columns: [week, storeA, storeB, storeC, storeD, storeE]
Index: []

In [12]:
# worst week for store C
store[store['storeC'] == store['storeC'].min()]

         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

In [37]:
# total sales during most recent 3 month period
summary[-3:].sum().max()

87591

In [ ]:
# Go back to the top and answer the questions